# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
media
staticfiles

# IDEs
.vscode/
.idea/
